<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwafu.testpapersystem.domain.dao.QuestionTypeMapper">
  <resultMap id="BaseResultMap" type="edu.nwafu.testpapersystem.domain.entity.QuestionType">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="table" jdbcType="VARCHAR" property="table" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    
    delete from question_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.nwafu.testpapersystem.domain.entity.QuestionType">
    
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into question_type (name, table)
    values (#{name,jdbcType=VARCHAR}, #{table,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="edu.nwafu.testpapersystem.domain.entity.QuestionType">
    
    update question_type
    set name = #{name,jdbcType=VARCHAR},
      table = #{table,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    
    select id, name, table
    from question_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    
    select id, name, table
    from question_type
  </select>
</mapper>