<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwafu.testpapersystem.domain.mapper.PaperMapper">
  <resultMap id="BaseResultMap" type="edu.nwafu.testpapersystem.domain.entity.Paper">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="parameter_id" jdbcType="INTEGER" property="parameterId" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="reviewer_id" jdbcType="INTEGER" property="reviewerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    
    delete from paper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.nwafu.testpapersystem.domain.entity.Paper">
    
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into paper (name, course_id, parameter_id, 
      creator_id, reviewer_id, create_time, 
      state)
    values (#{name,jdbcType=VARCHAR}, #{courseId,jdbcType=INTEGER}, #{parameterId,jdbcType=INTEGER}, 
      #{creatorId,jdbcType=INTEGER}, #{reviewerId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="edu.nwafu.testpapersystem.domain.entity.Paper">
    
    update paper
    set name = #{name,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=INTEGER},
      parameter_id = #{parameterId,jdbcType=INTEGER},
      creator_id = #{creatorId,jdbcType=INTEGER},
      reviewer_id = #{reviewerId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    
    select id, name, course_id, parameter_id, creator_id, reviewer_id, create_time, state
    from paper
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    
    select id, name, course_id, parameter_id, creator_id, reviewer_id, create_time, state
    from paper
  </select>
</mapper>