<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwafu.testpapersystem.domain.mapper.SingleChoicMapper">
  <resultMap id="BaseResultMap" type="edu.nwafu.testpapersystem.domain.entity.SingleChoic">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="point_id" jdbcType="INTEGER" property="pointId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="answer" jdbcType="CHAR" property="answer" />
    <result column="A" jdbcType="VARCHAR" property="a" />
    <result column="B" jdbcType="VARCHAR" property="b" />
    <result column="C" jdbcType="VARCHAR" property="c" />
    <result column="D" jdbcType="VARCHAR" property="d" />
    <result column="difficult" jdbcType="CHAR" property="difficult" />
    <result column="faq" jdbcType="VARCHAR" property="faq" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="usage_count" jdbcType="INTEGER" property="usageCount" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    
    delete from single_choic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.nwafu.testpapersystem.domain.entity.SingleChoic">
    
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into single_choic (course_id, point_id, user_id, 
      question, answer, A, B, 
      C, D, difficult, faq, 
      score, usage_count, state, 
      create_time)
    values (#{courseId,jdbcType=INTEGER}, #{pointId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{question,jdbcType=VARCHAR}, #{answer,jdbcType=CHAR}, #{a,jdbcType=VARCHAR}, #{b,jdbcType=VARCHAR}, 
      #{c,jdbcType=VARCHAR}, #{d,jdbcType=VARCHAR}, #{difficult,jdbcType=CHAR}, #{faq,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{usageCount,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="edu.nwafu.testpapersystem.domain.entity.SingleChoic">
    
    update single_choic
    set course_id = #{courseId,jdbcType=INTEGER},
      point_id = #{pointId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=CHAR},
      A = #{a,jdbcType=VARCHAR},
      B = #{b,jdbcType=VARCHAR},
      C = #{c,jdbcType=VARCHAR},
      D = #{d,jdbcType=VARCHAR},
      difficult = #{difficult,jdbcType=CHAR},
      faq = #{faq,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      usage_count = #{usageCount,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    
    select id, course_id, point_id, user_id, question, answer, A, B, C, D, difficult, 
    faq, score, usage_count, state, create_time
    from single_choic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    
    select id, course_id, point_id, user_id, question, answer, A, B, C, D, difficult, 
    faq, score, usage_count, state, create_time
    from single_choic
  </select>
</mapper>