<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nwafu.testpapersystem.domain.mapper.TrueOrFalseMapper">
  <resultMap id="BaseResultMap" type="edu.nwafu.testpapersystem.domain.entity.TrueOrFalse">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="answer" jdbcType="CHAR" property="answer" />
    <result column="difficult" jdbcType="CHAR" property="difficult" />
    <result column="faq" jdbcType="VARCHAR" property="faq" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="usage_count" jdbcType="INTEGER" property="usageCount" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="point_id" jdbcType="INTEGER" property="pointId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="stat" jdbcType="INTEGER" property="stat" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    
    delete from true_or_false
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.nwafu.testpapersystem.domain.entity.TrueOrFalse">
    
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into true_or_false (question, answer, difficult, 
      faq, score, usage_count, 
      course_id, point_id, user_id, 
      stat, create_time)
    values (#{question,jdbcType=VARCHAR}, #{answer,jdbcType=CHAR}, #{difficult,jdbcType=CHAR}, 
      #{faq,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{usageCount,jdbcType=INTEGER}, 
      #{courseId,jdbcType=INTEGER}, #{pointId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{stat,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="edu.nwafu.testpapersystem.domain.entity.TrueOrFalse">
    
    update true_or_false
    set question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=CHAR},
      difficult = #{difficult,jdbcType=CHAR},
      faq = #{faq,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      usage_count = #{usageCount,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      point_id = #{pointId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      stat = #{stat,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    
    select id, question, answer, difficult, faq, score, usage_count, course_id, point_id, 
    user_id, stat, create_time
    from true_or_false
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    
    select id, question, answer, difficult, faq, score, usage_count, course_id, point_id, 
    user_id, stat, create_time
    from true_or_false
  </select>
</mapper>